
		<section id="brands">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col">
						<h3 data-toggle="collapse" data-target="#uk_collapse">UK & Europe Higher Education <span class="caret"></span></h3>
						<ul id="uk_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Long text long text long this is long uh</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
					</div>
					<div class="col-md-3 col">
						<h3 data-toggle="collapse" data-target="#usa_collapse">USA & Canada Higher Education <span class="caret"></span></h3>
						<ul id="usa_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here Brand here Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
					</div>
					<div class="col-md-3 col">
						<h3 data-toggle="collapse" data-target="#anz_collapse">Australia & New Zealand Higher Education <span class="caret"></span></h3>
						<ul id="anz_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here Brand here Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
					</div>
					<div class="col-md-3 col">
						<h3 data-toggle="collapse" data-target="#bell_collapse">Bellerbys College <span class="caret"></span></h3>
						<ul id="bell_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
						<h3 data-toggle="collapse" data-target="#emb_collapse">English Language Programmes <span class="caret"></span></h3>
						<ul id="emb_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
						<h3 data-toggle="collapse" data-target="#dl_collapse">Distance Learning <span class="caret"></span></h3>
						<ul id="dl_collapse" class="collapse in">
							<li><a href="#">Brand here</a></li>
							<li><a href="#">Brand here</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>