                <div id="topbar">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="pull-right">
                          <li><a href="/internal" class="btn blue">Corporate Website</a></li>
                          <li><a href="/finder" class="btn grey">Agent Website</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <header>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 logo">
                        <a href="/index"><img src="app/img/logo.png" border="0"></a>
                      </div>
                      <div class="col-md-4 social_media_wrapper">
                        <div class="social_media">
                          <a href="#"><img src="app/img/linkedin.png"></a>
                          <a href="#"><img src="app/img/twitter.png"></a>
                          <a href="#"><img src="app/img/facebook.png"></a>
                          <a href="#"><img src="app/img/gplus.png"></a>
                          <a href="#"><img src="app/img/youtube.png"></a>
                          <a href="#"><img src="app/img/instagram.png"></a>
                        </div>
                      </div>
                      <div class="col-md-5 nav_wrapper">
                        <nav role="navigation">
                          <button type="button" id="togglenav" class="switch btn visible-xs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                          <ul class="pull-right" id="nav" role="menu">
                            <li><a href="/internal">Ask a Question</a></li>
                            <li>
                              <div id="searchwrapper" class="siteSearch pull-right">
                                  <fieldset>
                                      <label for="iscrlayout_0_iscrbody_0_ctl03_SearchTextBox" id="iscrlayout_0_iscrbody_0_ctl03_SearchLabel" class="searchLabel"></label>
                                      <input 
                                        name="iscrlayout_0$iscrbody_0$ctl03$SearchTextBox" 
                                        type="text" 
                                        maxlength="200" 
                                        id="huu" 
                                        class="searchInput" 
                                        placeholder="Search site" 
                                        onkeydown="if (event.keyCode == 13) { $('#SearchButton').click(); return false; }">
                                      <button type="submit" name="iscrlayout_0$iscrbody_0$ctl03$SearchButton" id="SearchButton" class="searchButton btn">
                                        <!-- added icon -->
                                        <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                  </fieldset>
                              </div>
                            </li>

                          </ul>

                       </nav>
                      </div>
                    </div>
                  </div>
                </header>

                <div id="strapline">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1>Study Group opens doors to quality education, all over the world.</h1>
                      </div>
                    </div>
                  </div>
                </div>