{% block styles %}
	<style>
		.item_image#one {
		  background-image: url("app/img/cover_1.jpg");
		}
		.item_image#two {
		  background-image: url("app/img/cover_2.jpg");
		}
		.item_image#three {
		  background-image: url("app/img/cover_3.jpg");
		}
		.item_image#four {
		  background-image: url("app/img/cover_4.jpg");
		}
		.item_image#five {
		  background-image: url("app/img/cover_5.jpg");
		}

		#uk_europe .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#usa_canada .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#australia_nz .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#embassy .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#bellerbys .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#australia_domestic .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		#distance_learning .topbanner {
		  background-image: url("app/img/uk_europe_topimage.jpg");
		}
		
	</style>
{% endblock %}

{% block content %}
		{% include "header" %}

		<div id="cover" class="bg_img">

			<div id="cover-carousel" class="carousel carousel-fade slide" data-ride="carousel">
		      <div class="carousel-inner">
		      	<!-- ============== -->
			    <!-- FIRST CAROUSEL ITEM. It's different to the others because it has a different link (there is a class opens-more) and also a new div .caption-more  -->
			    <!-- ============== -->
		        <div class="item active">
		          <div id="one" class="item_image parallax">

		          	<div class="carousel-caption-wrapper">
					  <div class="carousel-caption caption-simple hero col-md-3 fadeonscroll">
				        <h2>Engaging headline about Study Group. Main title for mobile.</h2>
						<p>Study GCSE, A Level or one of our university pathway programmes: Foundation, Undergraduate Year One and Pre-Masters. Grab your opportunity to study business in the financial centre of Europe. Study GCSE, A Level or one of our university pathway.</p>
						<a href="#carouselitem1" class="btn blue outline opens-more"><span class="glyphicon glyphicon-chevron-left"></span> Read more</a>
			      	  </div>
			      	  <div class="carousel-caption caption-more hero col-md-8 fadeonscroll" data-info="carouselitem1" style="display:none;">
			      	  	<span class="close-caption-more"><span class="glyphicon glyphicon-remove"></span></span>

			      	  	<!-- ============== -->
			      	  	<!-- RITCH TEXT BOX -->
			      	  	<!-- ============== -->
				        <h2>This is a title</h2>
				        <h3>This is a h3 subtitle</h3>
						<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
						{{ 2 | lorem_ipsum:'p' }}
						<h4>This is a h4 subtitle</h4>
						<!-- =================== -->
			      	  	<!-- /end RITCH TEXT BOX -->
			      	  	<!-- =================== -->
			      	  </div>
		          	</div>

		          </div>
		        </div>
		        <!-- ============== -->
			    <!-- end of FIRST CAROUSEL ITEM.  -->
			    <!-- ============== -->

			    <!-- ============== -->
			    <!-- SECOND CAROUSEL ITEM.  -->
			    <!-- ============== -->
		        <div class="item">
		          <div id="two" class="item_image parallax">
		          	<div class="carousel-caption-wrapper">
					  <div class="carousel-caption hero col-md-3 fadeonscroll">
					  	<!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
				        <h2>Engaging headline related to the content slide 2</h2>
				        <!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<p>Study GCSE, A Level or o</p>
						<!-- ============== -->
			      	  	<!-- / PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<a href="#" class="btn blue outline">Read more</a>
			      	  </div>
		          	</div>
		          </div>
		        </div>
		        <!-- ============== -->
			    <!-- end of SECOND CAROUSEL ITEM.  -->
			    <!-- ============== -->

			    <!-- ============== -->
			    <!-- THIRD CAROUSEL ITEM.  -->
			    <!-- ============== -->
		        <div class="item">
		          <div id="three" class="item_image parallax">
		          	<div class="carousel-caption-wrapper">
					  <div class="carousel-caption hero col-md-3 fadeonscroll">
					  	<!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
				        <h2>Engaging headline related to the content slide 3</h2>
				        <!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<p>Study GCSE, A Level or one of our university pathway programmes: Foundation, Undergraduate Year One and Pre-Masters. Grab your opportunity </p>
						<!-- ============== -->
			      	  	<!-- / PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<a href="#" class="btn blue outline">Read more</a>
			      	  </div>
		          	</div>
		          </div>
		        </div>
		        <!-- ============== -->
			    <!-- end of THIRD CAROUSEL ITEM.  -->
			    <!-- ============== -->

			    <!-- ============== -->
			    <!-- FOURTH CAROUSEL ITEM.  -->
			    <!-- ============== -->
		        <div class="item">
		          <div id="four" class="item_image parallax">
		          	<div class="carousel-caption-wrapper">
					  <div class="carousel-caption hero col-md-3 fadeonscroll">
					  	<!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
				        <h2>Engaging headline related to the content slide 4</h2>
				        <!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<p>Study GCSE, A Level or o</p>
						<!-- ============== -->
			      	  	<!-- / PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<a href="#" class="btn blue outline">Read more</a>
			      	  </div>
		          	</div>
		          </div>
		        </div>
		        <!-- ============== -->
			    <!-- end of FOURTH CAROUSEL ITEM.  -->
			    <!-- ============== -->

			    <!-- ============== -->
			    <!-- FIFTH CAROUSEL ITEM.  -->
			    <!-- ============== -->
		        <div class="item">
		          <div id="five" class="item_image parallax">
		          	<div class="carousel-caption-wrapper">
					  <div class="carousel-caption hero col-md-3 fadeonscroll">
					  	<!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
				        <h2>Engaging headline related to the content slide 5</h2>
				        <!-- ============== -->
			      	  	<!-- PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<p>Study GCSE, A Level or one of our university pathway programmes: Foundation, Undergraduate Year One and Pre-Masters. Grab your opportunity </p>
						<!-- ============== -->
			      	  	<!-- / PLAIN TEXT BOXES? -->
			      	  	<!-- ============== -->
						<a href="#" class="btn blue outline">Read more</a>
			      	  </div>
		          	</div>
		          </div>
		        </div>
		        <!-- ============== -->
			    <!-- end of FIFTH CAROUSEL ITEM.  -->
			    <!-- ============== -->
		      </div>

			  <div class="carousel-indicators-wrapper">
				<ol class="carousel-indicators fadeonscroll col-md-3">
					<li data-target="#cover-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#cover-carousel" data-slide-to="1" class=""></li>
					<li data-target="#cover-carousel" data-slide-to="2" class=""></li>
					<li data-target="#cover-carousel" data-slide-to="3" class=""></li>
					<li data-target="#cover-carousel" data-slide-to="4" class=""></li>
				</ol>
			  </div>

		    </div> <!-- /carousel -->

			<div class="container fadeonscroll shadows">
				<div class="boxed-cover boxed-cover-inside"></div>
				<div class="boxed-cover boxed-cover-outside"></div>
			</div>

		</div> <!-- / #cover -->

		{% include "navigation" %}

		<!-- THE CLASS .uk STYLES EVERYTHING - The id #uk_europe is used to toggle the navigation -->
		<section class="sliders uk" id="uk_europe" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>I want to study in UK or Europe</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>
						<div class="col-md-7 text_adjust_main">
							{{ 1 | lorem_ipsum:'p' }}
							<h3>This is a h3 subtitle</h3>
							<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
							{{ 2 | lorem_ipsum:'p' }}
							<h4>This is a h4 subtitle</h4>
							<h5>This is a h5 subtitle</h5>
						</div>
						<div class="col-md-2 sidebox_facts">

							<!-- Not necessary to have 5 items. It would be perfect if people can add less or more fact boxes -->
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sliders usa" id="usa_canada" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>I want to study in USA or Canada</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>
						<div class="col-md-7 text_adjust_main">

							<!-- RICH TEXT BOX FOR THE CONTENT -->

							{{ 1 | lorem_ipsum:'p' }}
							<h3>This is a h3 subtitle</h3>
							<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
							{{ 2 | lorem_ipsum:'p' }}
							<h4>This is a h4 subtitle</h4>
							<h5>This is a h5 subtitle</h5>

							<!-- /end RICH TEXT BOX FOR THE CONTENT -->

						</div>
						<div class="col-md-2 sidebox_facts">

							<!-- Not necessary to have 5 items. It would be perfect if people can add or remove fact boxes -->
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sliders anz" id="australia_nz" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>I want to study in Australia or New Zealand</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>
						<div class="col-md-7 text_adjust_main">

							<!-- RICH TEXT BOX FOR THE CONTENT -->

							{{ 1 | lorem_ipsum:'p' }}
							<h3>This is a h3 subtitle</h3>
							<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
							{{ 2 | lorem_ipsum:'p' }}
							<h4>This is a h4 subtitle</h4>
							<h5>This is a h5 subtitle</h5>

							<!-- /end RICH TEXT BOX FOR THE CONTENT -->

						</div>
						<div class="col-md-2 sidebox_facts">

							<!-- Not necessary to have 5 items. It would be perfect if people can add or remove fact boxes -->
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sliders emb" id="embassy" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>Embassy English</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row row-content">
						<div class="col-md-3">
							<a href="/finder"><img src="app/img/embassy_english_logo.png"></a>
							<!-- rich text box -->
							{{ 1 | lorem_ipsum:'p' }}
							<!-- /END rich text box -->

							<!-- THIS BUTTON IS THE SAME THAN THE ONE IN THE ROW BELOW, BUT IS ONLY DISPLAYED IN MED AND SMALL SCREENS. THE MARKUP IS EXACTLY THE SAME FOR SITECORE TO JUST CLONE IT -->
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder"><img src="app/img/embassy_academy_logo.png"></a>
							<!-- rich text box -->
							{{ 1 | lorem_ipsum:'p' }}
							<!-- /END rich text box -->

							<!-- READ ABOVE -->
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder"><img src="app/img/embassy_summer_logo.png"></a>
							<!-- rich text box -->
							{{ 1 | lorem_ipsum:'p' }}
							<!-- /END rich text box -->
							
							<!-- READ ABOVE -->
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder"><img src="app/img/embassy_pathways_logo.png"></a>
							<!-- rich text box -->
							{{ 1 | lorem_ipsum:'p' }}
							<!-- /END rich text box -->
							
							<!-- READ ABOVE -->
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
					</div>

					<!-- THE ROW WILL ONLY BE DISPLAYED >992PX VIEWPORT The buttons are the same as above, matching the colums  -->
					<div class="row row-buttons visible-md visible-lg">
						<div class="col-md-3">
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
						<div class="col-md-3">
							<a href="/finder" class="button blue btn-block">Visit website</a>
						</div>
					</div>
					<!-- / -->

				</div>
			</div>
		</section>

		<section class="sliders bel" id="bellerbys" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>Bellerbys College</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>
						<div class="col-md-7 text_adjust_main">

							<!-- RICH TEXT BOX FOR THE CONTENT -->

							{{ 1 | lorem_ipsum:'p' }}
							<h3>This is a h3 subtitle</h3>
							<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
							{{ 2 | lorem_ipsum:'p' }}
							<h4>This is a h4 subtitle</h4>
							<h5>This is a h5 subtitle</h5>

							<!-- /end RICH TEXT BOX FOR THE CONTENT -->

						</div>
						<div class="col-md-2 sidebox_facts">

							<!-- Not necessary to have 5 items. It would be perfect if people can add or remove fact boxes -->
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sliders aus" id="australia_domestic" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>Australian Domestic Students</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>
						<div class="col-md-7 text_adjust_main">

							<!-- RICH TEXT BOX FOR THE CONTENT -->

							{{ 1 | lorem_ipsum:'p' }}
							<h3>This is a h3 subtitle</h3>
							<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
							{{ 2 | lorem_ipsum:'p' }}
							<h4>This is a h4 subtitle</h4>
							<h5>This is a h5 subtitle</h5>

							<!-- /end RICH TEXT BOX FOR THE CONTENT -->

						</div>
						<div class="col-md-2 sidebox_facts">

							<!-- Not necessary to have 5 items. It would be perfect if people can add or remove fact boxes -->
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>
							<div class="fact">
								<h3>#01</h3>
								<p><strong>Reason Here</strong></p>
								<p>Loreojweji jowejiew</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sliders dl" id="distance_learning" style="display:none">
			<div class="full-width topbanner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-4">
							<h3>Distance Learning</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width content">
				<div class="container">
					<div class="row">
						<!-- IF VIDEO, ADD THE *****.VIDEO***** CLASS AND IT WILL ADD THE PLAY BUTTON OVERLAY-->
						<!-- IF image, don't add the class .video so can be used for a plain image or an image + lightbox gallery-->
						<div class="col-md-3 side_video video">
							<!-- LIGHTBOX WITH THE VIDEO? Like in Dublinisc.com -->
							<a href="#"><img src="app/img/video_placeholder.png"></a>
							<!-- / -->
						</div>

						<div class="col-md-9 text_adjust_main">
							<div class="row">
								<div class="col-md-6">
									<h3>Kingstom DLMBA</h3>

									<!-- RICH TEXT BOX FOR THE CONTENT -->
									{{ 1 | lorem_ipsum:'p' }}
									
									<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
									{{ 2 | lorem_ipsum:'p' }}
									<h4>This is a h4 subtitle</h4>
									<h5>This is a h5 subtitle</h5>

									<!-- /end RICH TEXT BOX FOR THE CONTENT -->

								</div>
								<div class="col-md-6">
									<h3>Lincoln DL</h3>
									
									<!-- RICH TEXT BOX FOR THE CONTENT -->
									{{ 1 | lorem_ipsum:'p' }}
									
									<h6>This is a h6 that can be used as a cool quote. long text long text long text but no so long.</h6>
									{{ 2 | lorem_ipsum:'p' }}
									<h4>This is a h4 subtitle</h4>
									<h5>This is a h5 subtitle</h5>

									<!-- /end RICH TEXT BOX FOR THE CONTENT -->

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="full-width bg_img" id="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<cite>Study Group prepares students for life in a global society and success in a global economy. We educate students from every corner of the globe enabling them to realise their potential through a transformational learning experience.</cite>
						<span></span>
					</div>
				</div>
			</div>
		</section>


		{% include "brands" %}
		{% include "footer" %}

{% endblock %}